:root{
    --verde: #00A149;
    --balanco: #fff;
    --rojo: #881014;
    --oscuro: #000;
    --azulPaprika: #031e33;
    --rosaPaprika: #e9c9ca;
    --rojoPaprika: #af3357;
    --titulos:'Arima', cursive;
    --parrafos:'Mulish', sans-serif;
}

/* reseteamos el BOX-SIZING
tanto en todo el HTML y a todos los elementos que tengan pseudo elementos*/
html{
    box-sizing: border-box;/*Que respete el valor calculado de un contenedor PADRE*/
    /* font-size: 62.5%; */
    font-size: 10px;
}
*,*::after, *::before{
    box-sizing: inherit;
}
/*Tanto en el HTML como en los pseudo elementos hay que resetear el BOX-SIZING
De este modo mi caja padre no crece, respeta mis definiciones de alto y ancho sin desbordar*/

body{
    font-size: 1.6rem;
    overflow-x: hidden;
}
/*GLOBALES*/
h1,h2{
    font-family: var(--titulos);
}
h3, p, a{
    font-family: var(--parrafos);
}
.contenedor{
    max-width: 120rem;/*Maximo 1200px*/
    margin: 0 auto;/*Que no tenga margenes arriba ni abajo, en los costados AUTOMATICO*/
    width: 95%;/*Que el ancho sea el 95% total, para que tenga un pequeño borde en la IZQUIERDA y en la DERECHA*/
}
.ocultar{
    display: none;
}
.btnCerrar{
    font-weight: bold;
    font-size: 3.5rem;
    color: var(--balanco);
    position: absolute;
    top: 0;
    right: 5rem;
    /*Quitamos la seleccion al clikear, así no se pinta de azul*/
    user-select: none;
}
.btnCerrar:hover{
    cursor: pointer;
}

.pantallaCompleta{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 4;
}

@keyframes desplazamiento {
    0%{
        transform: translate(100%);
    }
    100%{
        transform: translate(0);
    }
}
/*ENCABEZADO*/
.contenedor-navegacion{
    background-color: var(--oscuro);
    position: relative;
    z-index: 5;
}
.contenido-navegacion{
    display: flex; /*centramos a todo el contenido del div padre de IZQUIERA A DERECHA*/
    align-items: center; /*Centramos de manera vertical todos los elementos del div padre*/
    justify-content: space-between;
}
.logo h2, .navegacion a{
    color: var(--balanco);
}
.logo h2{
    font-size: 3rem;
}
.navegacion a{
    text-decoration: none;
    font-size: 2rem;
    padding: 1.5rem;
    padding-left: 4rem;
    display: block;
    transition: color .3s ease-in-out;
    text-align: center;
}
.navegacion a:hover{
    color: var(--rojoPaprika);
}

@media(min-width:768px){
    .navegacion a{
        text-align: left;
    }

}
/*Le agregamos un margin top al primer elemento hijo del la navegacion*/
.navegacion a:first-of-type{
    margin-top: 5rem;
}
.navegacion{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 40rem;
    padding: 3rem 4rem;
    background-color: var(--oscuro);
    animation: desplazamiento .5s ease-in-out;
}
.hamburguesa span{
    background-color: var(--balanco);
    /*Le ponemos que sea en forma de bloques para poder ponerle alto y ancho, si fueran sólo en línea no permitiria*/
    display: block;
    width: 5rem;
    height: .5rem;
    margin-bottom: .5rem;
}